/*@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Cabin+Sketch&family=Caveat&family=Dancing+Script:wght@562&family=Fredericka+the+Great&family=Great+Vibes&family=Homemade+Apple&family=Kalam:wght@300&family=Mr+De+Haviland&family=Nothing+You+Could+Do&family=Pinyon+Script&family=Rock+Salt&family=Tangerine:wght@700&family=Yellowtail&display=swap');
*//*font-family: 'Alex Brush', cursive;
font-family: 'Allura', cursive; ,chance
font-family: 'Cabin Sketch', cursive;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Kalam', cursive;
font-family: 'Mr De Haviland', cursive; Date
font-family: 'Nothing You Could Do', cursive; ,chance
font-family: 'Pinyon Script', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Yellowtail', cursive;*/
#profile{
	border:2px solid black;
	height:90%;
	overflow: hidden;
}
#search-box{
	height:10%;
}
#text{
/*	background-color: black;*/
	height:100%;
	width:80%;
	padding-right:-10px;
	margin-bottom: 20px;
}
.textarea{
	position:relative;
}
textarea{
	height:100%;
	width:100%;
	display:block;
	
	resize:none;
	    background-color: #fafafa;
    background-image: linear-gradient(90deg, transparent 90%, transparent 90.5%), linear-gradient(#dcd9d7 0.05em, transparent .05em);
    background-size: 100% 1.5em;

padding:70px 40px 0px 44px;
 font-family: 'Kalam', cursive !important;
 font-weight:900;
 border-radius:5px;

 line-height: 1.5 !important;


}
.textarea-Dark{
	background-color:#2b2221;
}
textarea::first-line{
	
	color:#e63a58;
	font-size:40px;
	line-height: 2.7 !important;
	font-family:'Allura', cursive;
	word-spacing: 4px;
	letter-spacing: 3px;

}
textarea:focus{
	outline:none;
}
 .H1 {
 	font-family: 'Alex Brush', cursive;
 	/*word-spacing: 2px;
 	letter-spacing:3px;*/
 	color:#382722;
	position:absolute;
	top:4.5%;
	left:5%;


}
.H1-Dark{ 
	color: #82c4e0; }
 .H2 {
 	font-family: 'Cabin Sketch', cursive;
	position:absolute;
	top:18%;
	left:5%;
	color:black;
}
.H2-Dark{
	color:yellow;
}
 .H3 {
 	font-family: 'Cabin Sketch', cursive;
	position:absolute;
	bottom:3%;
	left:14%;
	color:black;
}
.H3-Dark{
	color:yellow;
}
.H4 {
 	font-family: 'Allura', cursive;
 	/*word-spacing: 2px;
 	letter-spacing:3px;*/
 	color:#382722;
	position:absolute;
	top:2%;
	left:15%;
	font-size:35px;
	transform: rotate(0deg);
	opacity:0.2;
	font-weight: 900;
}
#emoji-dropdown {
 	
 	/*word-spacing: 2px;
 	letter-spacing:3px;*/
 	
	position:absolute;
	top:25%;
	right:5%;
	
}
.H5{
 	font-family: 'Cabin Sketch', cursive;
	position:absolute;
	bottom:0px;
	left:5%;
	color:black;
	font-size:63px;
	opacity:0.2;

}
.cloud{
	font-size:20px;

}
.star{
	height:20px;
	font-size:20px;
	font-weight: 900;

}
.rightclm{
	width:35%;
}
.stylechar{
	height:20px;
	font-size:10px;
	font-weight: 900;
	padding: 0px 8px 0px 8px ;
}
.styleletter{
	font-size:10px;
	font-family:"Ubuntu";
}
input{
	width:40%;
	font-family:'Cabin Sketch', cursive;
font-weight: 700;
text-align: center;
height:20px;
	color:#613c2b;
	font-size:15px;
	margin:10px 10px 5px 20px!important;
	float:left;
	border-radius:2px;
	background:url("https://www.pixeden.com/media/k2/galleries/220/003-wood-melamine-subttle-pattern-background-pat.jpg");
}
label{
	margin-left: 30px;
	margin-right:80px;
}
.dropbtn{
	font-size:20px;
}
.dropdown:hover .dropbtn{
	border-radius:15px;
	 box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
	 font-size: 22px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
	display:none;
  border-radius: 4px;
  position: absolute;
  right: -30px;
  top:25px;
  background-color: rgba(0,0,0,0.8);
  height:80px;
  overflow-x:hidden;
  overflow-y: scroll;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown:hover .dropdown-content{
	display:block;
}
.dropdown-content div span:hover {background-color: #ddd;}
/*.dropdown-content:before {
    content: '';
    position: absolute;
    border:2px solid black;
    background-color: black;
    height:10px;
    width:10px;
    top: -100px;
    right: -10px;
}*/

.dropdown-content div{
	display:inline;
	margin-top:-10px;
	font-size:20px;
	padding:1px;

}

.dropdown-content span{
	font-size:20px;
		

}
.cld{
	font-size:40px;
}
.size:hover{
	background-color: grey;
}
.profiles{
	/*background-color: #dadbbf;*/


}
.profiles-dark{
	background-color: #202f36;

}
#profile{
	 background-color: #fafafa;
    background-image: linear-gradient(90deg, transparent 90%, transparent 90.5%), linear-gradient(#dcd9d7 0.05em, transparent .05em);
    background-size: 100% 2em;
}
.Date{
	font-family: 'Cabin Sketch', cursive;
	font-weight: 800;
	font-size:25px;
	border-bottom: 5px solid black;
	padding-bottom: 20px;
	
}
.Date_disabled{
	font-family: 'Cabin Sketch', cursive;
	font-weight: 800;
	font-size:25px;
	color:#7f7272;
	border-bottom: 5px solid #7f7272;
	padding-bottom: 20px;

}