/*@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Cabin+Sketch&family=Caveat&family=Dancing+Script:wght@562&family=Fredericka+the+Great&family=Great+Vibes&family=Homemade+Apple&family=Kalam:wght@300&family=Mr+De+Haviland&family=Nothing+You+Could+Do&family=Pinyon+Script&family=Rock+Salt&family=Tangerine:wght@700&family=Yellowtail&display=swap');
*//*font-family: 'Alex Brush', cursive;
font-family: 'Allura', cursive; ,chance
font-family: 'Cabin Sketch', cursive;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Kalam', cursive;
font-family: 'Mr De Haviland', cursive; Date
font-family: 'Nothing You Could Do', cursive; ,chance
font-family: 'Pinyon Script', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Yellowtail', cursive;*/

/*.partner div{
	height:30%;
	width: 100px;
	background-color: red;
}*/

.back-container{
	position:absolute;
	top:2%;
	right:2%;
}
.back-container p{
	margin:0px;
	font-family: 'Rock Salt', cursive;
	font-size: 10px;
	margin-top:-10px;
	font-weight: 900;
}

.back{
	color:black;	
	font-size:30px;
	transition: transform .25s ease-in-out;
}
.back:hover{
	/*color:#d80d32;*/	
	
	transform:scale(1.5);
}




.social ul{
	margin:0px;
	padding:0px;
}
.partner h4{
	font-family:'Cabin Sketch', cursive;
	margin:2px;
	font-size:30px;
	height:10%;
}
svg{
	top:-20px !important;
}

.partner img{
	height:120px;
	width:auto;
	border:2px solid black;
	height:50%;
}
.partner h2{
	color:#e63a58;
	font-family:'Cabin Sketch', cursive;
	font-size: 35px;
	font-weight: 800;
	margin-bottom: 15px;
	margin-top:0px;
	height:10%;
}
.partner{
	
	width:100%;
	height:50%;
}
.about-container{
	width:100%;
	height:80%;
}
.about-head{
	color:#201eb7;
	font-family:'Cabin Sketch', cursive;
	font-size: 30px;
	font-weight: 800;
}
.set-head{
	color:#201eb7;
	font-family:'Cabin Sketch', cursive;
	font-size: 45px;
	font-weight: 800;
}
.set-text{
	margin-left:10px;
	font-family:"Arial";
	font-weight: 500;
	font-family: 'Rock Salt', cursive;
}
#myAvatar{
	width:40%;
	height:180px;
	border:2px solid black;
	margin-top:15px;
	border-radius:50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.p-feel{
	color:#e63a58;
	font-family: 'Kalam', cursive;
	margin-left:20px !important;
	font-weight: 800;
	padding-top:0px;
	margin:0px;
}
.p-cal{
	color:#e63a58;
	font-family: 'Kalam', cursive;
	margin-left:20px !important;
	font-weight: 800;
	margin:0px;
}
#profile{
	border:2px solid black;
	height:90%;
	overflow: hidden;
	position:relative;
	 /*background-color: #fafafa;
    background-image: linear-gradient(90deg, transparent 90%, transparent 90.5%), linear-gradient(#dcd9d7 0.05em, transparent .05em);
    background-size: 100% 2em;*/
}
#search-box{
	height:10%;
}
#text{
/*	background-color: black;*/
	height:100%;
	width:80%;
	padding-right:-10px;
	margin-bottom: 20px;
}
.textarea{
	position:relative;
}
textarea{
	height:100%;
	width:100%;
	display:block;
	
	resize:none;
	    background-color: #fafafa;
    background-image: linear-gradient(90deg, transparent 90%, transparent 90.5%), linear-gradient(#dcd9d7 0.05em, transparent .05em);
    background-size: 100% 1.5em;

padding:70px 40px 0px 44px;
 font-family: 'Kalam', cursive !important;
 font-weight:900;
 border-radius:5px;

 line-height: 1.5 !important;


}
.textarea-Dark{
	background-color:#2b2221;
}
textarea::first-line{
	
	color:#e63a58;
	font-size:40px;
	line-height: 2.7 !important;
	font-family:'Allura', cursive;
	word-spacing: 4px;
	letter-spacing: 3px;

}
textarea:focus{
	outline:none;
}
 .H1 {
 	font-family: 'Alex Brush', cursive;
 	/*word-spacing: 2px;
 	letter-spacing:3px;*/
 	color:#382722;
	position:absolute;
	top:4.5%;
	left:5%;


}
.H1-Dark{ 
	color: #82c4e0; }
 .H2 {
 	font-family: 'Cabin Sketch', cursive;
	position:absolute;
	top:17.5%;
	left:5%;
	color:black;

}
#favorite{
	position:absolute;
	top:5%;
	left:93%;
	color:black;
	font-weight: 900;
	font-size:30px;	
	transition: transform .25s ease-in-out;
}
#favorite:hover{
	transform:scale(1.5);
}
.fav{
	background-color:yellow;
}
.H2-Dark{
	color:yellow;
}
 .H3 {
 	font-family: 'Cabin Sketch', cursive;
	position:absolute;
	bottom:3%;
	left:5%;
	color:black;
}
.H3-Dark{
	color:yellow;
}
.H4 {
 	font-family: 'Allura', cursive;
 	/*word-spacing: 2px;
 	letter-spacing:3px;*/
 	color:#382722;
	position:absolute;
	top:2%;
	left:15%;
	font-size:35px;
	transform: rotate(0deg);
	opacity:0.2;
	font-weight: 900;
}
#emoji-dropdown {
 	
 	/*word-spacing: 2px;
 	letter-spacing:3px;*/
 	
	position:absolute;
	top:12%;
	right:3%;
	
}
.H5{
 	font-family: 'Cabin Sketch', cursive;
	position:absolute;
	bottom:0px;
	left:5%;
	color:black;
	font-size:63px;
	opacity:0.2;

}
.cloud{
	font-size:20px;

}
.star{
	height:20px;
	font-size:20px;
	font-weight: 900;

}
.rightclm{
	width:35%;
}
.stylechar{
	height:20px;
	font-size:10px;
	font-weight: 900;
	padding: 0px 8px 0px 8px ;
}
.styleletter{
	font-size:10px;
	font-family:"Ubuntu";
}
.date-search{
	width:40%;
	font-family:'Cabin Sketch', cursive;
font-weight: 700;
text-align: center;
height:20px;
	color:#613c2b;
	font-size:15px;
	margin:10px 10px 5px 20px!important;
	float:left;
	border-radius:2px;
	background:url("https://www.pixeden.com/media/k2/galleries/220/003-wood-melamine-subttle-pattern-background-pat.jpg");
}
label{
	margin-left: 30px;
	margin-right:80px;
}
.dropbtn{
	font-size:20px;
}
.dropdown:hover .dropbtn{
	border-radius:15px;
	 box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
	 font-size: 22px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
	display:none;
  border-radius: 4px;
  position: absolute;
  right: -30px;
  top:25px;
  background-color: rgba(0,0,0,0.8);
  height:80px;
  overflow-x:hidden;
  overflow-y: scroll;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.dropdown:hover .dropdown-content{
	display:block;
}
.dropdown-content div span:hover {background-color: #ddd;}
/*.dropdown-content:before {
    content: '';
    position: absolute;
    border:2px solid black;
    background-color: black;
    height:10px;
    width:10px;
    top: -100px;
    right: -10px;
}*/

.dropdown-content div{
	display:inline;
	margin-top:-10px;
	font-size:20px;
	padding:1px;

}

.dropdown-content span{
	font-size:20px;
		

}
.cld{
	font-size:40px;
}
.size:hover{
	background-color: grey;
}
.profiles{
	/*background-color: #dadbbf;*/


}
.profiles-dark{
	background-color: #202f36;

}
#profile{
	
}
.Date{
	font-family: 'Fredericka the Great', cursive;
	font-weight: 600;
	font-size:25px;
	border-bottom: 5px solid black;
	padding-bottom: 20px;
	
}
.Date_disabled{
	font-family: 'Fredericka the Great', cursive;
	font-weight: 600;
	font-size:25px;
	color:#7f7272;
	border-bottom: 5px solid #7f7272;
	padding-bottom: 20px;

}
#setting{
/*	position:relative;*/
}
.set-ico{
	font-size: 25px;
}

.settingIcon{
	font-size:25px;
	opacity:1;	
	position:absolute;
	right:2%;
	top:2%;
	transition:transform 2s ease-out;
	
}


.settingIcon:hover{
	transform:rotate(360deg);
	
}

.aboutIcon{
	font-size: 25px;
	position:absolute;
	right:15%;
	top:2%;
	opacity:1;
}
.mood{
	font-size:30px;
	font-weight: 900;
	-moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
   /* transform: translateZ( 0 );
    transition: transform .25s ease-in-out;*/

}
.moodBox p{
	font-weight: 500;
	font-family:'Kalam', cursive;
	transition: transform .25s ease-in-out;
}
.moodBox:hover p{
	transform: scale(1.5);
	font-weight:600;
}
.moodBox:hover .happy{
	color:#fb6800;
}
.forhappy{
	color:#fb6800;
	font-weight: 600 !important;
	font-size:20px;

}
.moodBox:hover .sad{
	color:#5479a5;
}
.forsad{
	color:#5479a5;
	font-weight: 600 !important;
	font-size:20px;
}
.moodBox:hover .angry{
	color:red;
}
.forangry{
	color:red;
	font-weight: 600 !important;
	font-size:20px;

}
.moodBox:hover .lovely{
	color:#e70ecc;
}
.forlovely{
	color:#e70ecc;
	font-weight: 600 !important;
	font-size:20px;

}
.moodBox:hover .awful{
	color:#0aaf42;
}
.forawful{
	color:#0aaf42;
	font-weight: 600 !important;
	font-size:20px;

}
#help{
	font-size:;
	font-weight:600;
}
/*.mood:hover{
	backface-visibility: hidden;
    transform: scale( 2.0);
   
}*/
.moodBox{
	height:100%;
	width:15%;
	display:inline-block;
	
	margin-top:10px;
	margin-left:10px !important;
}
.Avatar-container{
	padding-top:2px;
	height:20%;
	width:85%;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;

}
.Avatar{
	height:90%;
	width:23.8%;
	margin:2px;
	border:2px solid black;
	padding:2px;
	/*width: 250px;*/
 
}
.Avatar-container .active, .Avatar:hover{
	border:2px solid #e10f2c;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.Avatar img{

height:100%;
	
}
.diaryName{
	width:70%;
}

.diaryName input{
	background-color: #eee ;
	border:2px solid black;
	padding: 12px 15px ;
	margin: 8px 8px ;
	width: 7	0% !important;
	border-radius:2px;
	text-align: center;
	font-family:  'Rock Salt', cursive;
	
}
.diaryName input:focus{
	/*outline:none;*/
	text-align: center;
	/*font-size:20px;*/
	font-family:  'Rock Salt', cursive;
}
.diaryName input::placeholder{
	text-align: center;
	font-size:15px;
	font-family:  'Rock Salt', cursive;
}

.text-container{
	width:97%;
	height:13%;
	margin:5px;
	

}
.text-color{
	margin:2px 4px;
	border:2px solid white;
	height:46%;
	width:10%;
	border-radius:50%;

}
.text-container .active, .text-color:hover{
	border:2px solid white;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.saveBtn{
	background-color:#9e0ce9;
	width:40%;
	padding:10px 0px;
	margin-top: 20px;
	border-radius:5px;
	opacity:1;
}
.saveBtn:hover{
	opacity: 1;
	background-color: #9e0ce9;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.saveBtn h3{
	margin:0px;
	color:#fff;
	font-family:'Kalam', cursive;
}
/*font-family: 'Alex Brush', cursive;
font-family: 'Allura', cursive; ,chance
font-family: 'Cabin Sketch', cursive;
font-family: 'Caveat', cursive; %%
font-family: 'Dancing Script', cursive; %%
font-family: 'Fredericka the Great', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Kalam', cursive; %%%
font-family: 'Mr De Haviland', cursive; Date
font-family: 'Nothing You Could Do', cursive; ,chance
font-family: 'Pinyon Script', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Yellowtail', cursive;*/
