.App {
  display:flex;
  align-items:center;
  flex-direction: column;
  height:775px;
}
.diaryname{
	height:10%;
	
}
.full{
	height: 100%;
}
.center{
text-align:center;}
h1{
	color:white;
	margin:0px !important;
	


}
html, body {
	width:100%;
}