/*font-family: 'Alex Brush', cursive;
font-family: 'Allura', cursive; ,chance
font-family: 'Cabin Sketch', cursive;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Kalam', cursive;
font-family: 'Mr De Haviland', cursive; Date
font-family: 'Nothing You Could Do', cursive; ,chance
font-family: 'Pinyon Script', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Yellowtail', cursive;*/

.App {
  display:flex;
  align-items:center;
  flex-direction: column;
  height:90%;
}
.Diaryname{
	height:10%;
	font-family: 'Rock Salt', cursive;
	
}
.full{
	height: 100%;
}
.center{
text-align:center;
}
#name{
	padding-top: 20px;
	color:white;
	margin:0px !important;
	


}
html, body {
	width:100%;
	height:900px !important;
}