.App {
  display:flex;
  align-items:center;
  flex-direction: column;
  height:90%;
}
.diaryname{
	height:10%;
	
}
.full{
	height: 100%;
}
.center{
text-align:center;
}
h1{
	padding-top: 20px;
	color:white;
	margin:0px !important;
	


}
html, body {
	width:100%;
	height:900px !important;
}